<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantina Digital</title>

    <link rel="stylesheet" href="/Projeto TCC/static/styles/inicial.css">
    <link rel="stylesheet" href="/Projeto TCC/static/styles/cad-produto.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        </style>
        
    </head>
<body>

    <header class="container-header">

        <div class="cbc-cima">

            <img class="logo" src="/Projeto TCC/static/img/logo.png" alt="">

            <img class="menu" src="https://cdn.icon-icons.com/icons2/1710/PNG/512/menubuttonofthreelinesoutline_112563.png" alt="">

        </div>

        <div class="cbc-baixo">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>

    </header>
  
    <form>
        <h2>Adicionar produto</h2>
            <input type="text" id="nome-produto" placeholder="*Cadastrar produto"></label>
        
            <input type="number" id="preco-produto" min="0.00" max="1000.00" step="0.10" placeholder="*Preço" />
            
            <br>
            <select id="cat-produto">
            <option value="opcao" selected>*Categoria</option>
            <option value="Frito">Frito</option>
            <option value="Bebida">Bebida</option>
            <option value="Assado">Assado</option>
            </select>
                    

            <input type="url" id="url-produto" placeholder="*URL da imagem"></label>

            <input type="text" id="desc-produto" placeholder="*Descrição do produto"></label>
            <br>
            <button class="btn-Cadastrar" role="button">Adicionar</button>
        </form>
    </div>
</div>

</body>
    

   

</html>