<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantina Digital</title>
    <link rel="stylesheet" href="/Projeto TCC/static/styles/cadastro.css">
</head>
<body>
    <section class="container-principal">
        <h2>Cadastre-Se</h2>
        <div class="formulario">
            
            <form action="">
                <input placeholder="*Nome Completo" type="text">
                <input placeholder="*E-mail"  type="text">
                <input placeholder="*Curso"  type="text">
                <input placeholder="*Senha"  type="text">
            </form>

        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>Aceitar Termos de uso</span> 
        </div>

        <button>Registrar</button>

        <a href="">Já estou Registrado</a>
        
    </section>
    
</body>
</html>