<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantina Digital</title>
    <link rel="stylesheet" href="/Projeto TCC/static/styles/cadastro.css">
</head>
<body>
    <main>

        <section class="container-principal">
        <h2>Cadastre-Se</h2>
        <div class="formulario">
            {% for registro in lista_carro %}
            <form action="">
                <input id="nome" name="nome" placeholder="*Nome Completo" type="text">
                <input id="tel" name="tel" placeholder="*Telefone" type="text">
                <input id="email" name="email" placeholder="*E-mail"  type="text">
                <input id="senha" name="senha" placeholder="*Senha"  type="text">
                <select id="curso" name="curso">
                    <option value=""></option>
                </select>
            </form>
            {% endfor %}
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <span>Aceitar Termos de uso</span> 
        </div>

        <button>Registrar</button>

        <a href="">Já estou Registrado</a>
        
    </section>
    
    </main>
    
    
</body>
</html>