<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/carrinho.css">
    <link rel="stylesheet" href="/static/geral.css">
    <title>Carrinho</title>
</head>
<body>

    <main>
        <section class="cont-carrinho">
            {% for registro in lista_carro %}
            <form action="/excluir_produto" method="post" class="carrinho">
           
                <div class="carrinho-item">
                    <div class="img"><img src="{{ registro.imagem_produto }}" alt="top"></div>
                </div>
                <div class="texto">
                    <p>{{ registro.nome_produto }}</p>
                    <p>{{ registro.preco }}</p>
                </div>
                <button value="{{ registro.id_carrinho }}" name="btn-excluir" class="button" value="{{ registro.id_produto }}">CARRO</button>
            </form>
            {% endfor %}
        </section>

        <button class="button1">
            Comprar
        </button>
    </main>
</body>
</html>