{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/carrinho.css">

<body>
    <main>

        {% for registro in lista_carrinho.produtos %}
        <form action="/excluir_produto_carrinho" class="form-exclui-carrinho" method="post">


            <section class="container-principal">

                <div class="produto-card">

                    <div class="imgdiv">
                        <img class="img-produto" src="{{ registro.imagem_produto }}" alt="Imagem Produto">

                        <button value="{{ registro.id_carrinho }}" name="btn-excluir" class="button"
                            value="{{ registro.id_produto }}">
                            <img src="../static/img/lixo.png" alt="">
                        </button>

                        <div class="direita-card">
                            <div class="cima">
                                <span>{{ registro.nome_produto }}</span>

                                <div class="qnt-btn">
                                    <button class="menos-btn" type="button"
                                        data-id="{{ registro.id_carrinho }}">-</button>
                                    <input type="number" id="quantidade-{{ registro.id_carrinho }}"
                                        value="{{ registro.quantidade }}" data-id="{{ registro.id_carrinho }}" min="1">
                                    <button class="mais-btn" type="button"
                                        data-id="{{ registro.id_carrinho }}">+</button>
                                </div>

                            </div>

                            <div class="baixo">
                                <span class="desc-baixo">Marmita de 500g acompanha Arroz, feijão, Batata frit...</span>
                                <span class="preco-item">R$ {{ registro.preco }}</span>

                                <span class="obs-item">OBS: Sem feijão, pfv</span>
                            </div>

                        </div>
                    </div>


                </div>
        </form>
        {% endfor %}

        <div class="finalizacao">
            <div class="preco">
                <span class="span1">Total:</span>
                <span id="total-preco" class="span2">R$ {{ lista_carrinho.total_preco }}</span>
            </div>

            <form action="/enviar_carrinho" method="post">
                <button name="id_carrinho" class="button1">Enviar</button>
            </form>
            <a href="/">Continuar Comprando</a>
        </div>

        <span class="span3">.</span>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.mais-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const idCarrinho = this.getAttribute('data-id');
                    const quantidadeInput = document.getElementById(`quantidade-${idCarrinho}`);
                    let quantidade = parseInt(quantidadeInput.value, 10);
                    quantidade++;
                    quantidadeInput.value = quantidade;
                    atualizarQuantidade(idCarrinho, quantidade);
                });
            });

            document.querySelectorAll('.menos-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const idCarrinho = this.getAttribute('data-id');
                    const quantidadeInput = document.getElementById(`quantidade-${idCarrinho}`);
                    let quantidade = parseInt(quantidadeInput.value, 10);
                    if (quantidade > 1) {
                        quantidade--;
                        quantidadeInput.value = quantidade;
                        atualizarQuantidade(idCarrinho, quantidade);
                    } else {
                        alert("Número mínimo de pedido é 1");
                    }
                });
            });

            function atualizarQuantidade(idCarrinho, quantidade) {
                fetch('/atualizar_quantidade', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id_carrinho: idCarrinho, quantidade: quantidade })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            atualizarPrecoTotal(); // Atualiza o preço total após a quantidade ser atualizada com sucesso
                        } else {
                            alert('Erro ao atualizar quantidade');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Erro ao atualizar quantidade');
                    });
            }

            function atualizarPrecoTotal() {
                fetch('/atualizar_preco_total', {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('total-preco').innerText = `R$ ${data.total_preco}`;
                        } else {
                            console.error('Erro ao obter o total atualizado');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                    });
            }
        });
    </script>
</body>
{% endblock %}