{% extends "modelo-adm.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/editarProdutos.css">

<body>

    <main>
        <h1>Atualizar Produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Imagem Atual</th>
                    <th>Nova Imagem</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in lista_prounico %}
                <tr>
                    <td>
                        <form method="POST" action="/atualizar_produto" enctype="multipart/form-data">
                            <input type="hidden" name="id_produto" value="{{ registro.cod_produto }}">
                            
                            <input type="text" name="nome" value="{{ registro.nome_produto }}" required>
                    </td>
                    <td>
                        <input type="text" name="preco" value="{{ registro.preco }}" required>
                    </td>
                    <td>
                        <textarea name="descricao" required>{{ registro.descricao }}</textarea>
                    </td>
                    <td>
                        <img src="{{ url_for('imagem_produto', cod_produto=registro.cod_produto) }}" alt="Imagem do produto {{ registro.nome_produto }}" style="width: 100px; height: auto;">
                    </td>
                    <td>
                        <input type="file" name="imagem" accept="image/png, image/jpeg">
                    </td>
                    <td>
                        <button type="submit">Atualizar Produto</button>
                    </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
{% endblock %}
