{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/editarProdutos.css">

<body>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Coxinha <button>✏️</button></td>
                    <td>6,50 <button>✏️</button></td>
                    <td>Little coxa de fanho com catupiru <button><img src="/Projeto TCC/static/img/excluir produto.png"alt=""></button></td>
                    <td><input type="file" id="file-upload" accept="image/png, image/jpeg"></td>
                </tr>
                <tr>
                    <td>Aguá <button>✏️</button></td>
                    <td>4,00 <button>✏️</button></td>
                    <td>Tradicional agua cristalina <button><img src="/Projeto TCC/static/img/excluir produto.png"alt=""></button></button></td>
                    <td><input type="file" id="file-upload" accept="image/png, image/jpeg"></td>
                </tr>
                <tr>
                    <td>Energetico <button>✏️</button></td>
                    <td>10,00 <button>✏️</button></td>
                    <td>Pra te deixar acordado a noite toda <button><img src="/Projeto TCC/static/img/excluir produto.png"alt=""></button></td>
                    <td><input type="file" id="file-upload" accept="image/png, image/jpeg"></td>
                </tr>
            </tbody>
        </table>
    </main>

</body>

</html>
{% endblock %}