{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/editarProdutos.css">

<body>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in lista_prounico %}
                <tr>
                    <td>
                        {{ registro.nome_produto }}
                        <form method="POST" action="/editar_produto">
                            <input type="hidden" name="btn-produto" value="{{ registro.cod_produto }}">
                            <button type="submit">✏️</button>
                        </form>
                    </td>
                    <td>R$ {{ registro.preco }}</td>
                    <td>{{ registro.descricao }}</td>
                    <td>
                        <img src="{{ registro.imagem_produto }}" alt="Imagem do produto {{ registro.nome_produto }}" style="width: 100px; height: auto;">
                    </td>
                    <td>
                        <input type="file" id="file-upload" accept="image/png, image/jpeg">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>

</html>
{% endblock %}
