{% extends "modelo.html" %}
{% block conteudo %}
<div class="central" style="display: {% if not site_aberto %} flex {% else %} none {% endif %};">
  <div id="horario" class="horario" style="display: {% if not site_aberto %} block {% else %} none {% endif %};">
    <h2>Site offline.</h2>
  </div>
</div>

<body>
  <main>
    <section class="carrossel">
      <!-- Código do carrossel -->
    </section>

    <!-- Seção de Produtos -->
    <section class="container-produtos">
      <h2>Nossos Produtos</h2>
      <div class="grid-produto">
        <div class="produtos" id="produtos-list">
          {% for categoria in produtos_por_categoria.values() %}
          <h3>{{ categoria.nome_categoria }}</h3>
          {% for produto in categoria.produtos %}
          <form action="/produto_unico" method="post">
            <button value="{{ produto.id_produto }}" name="btn-produto" type="submit">
              <div class="card-produtos">
                <div class="left-lado">
                  <span class="produto-nome">{{ produto.nome_produto }}</span>
                  <span class="produto-desc">{{ produto.descricao }}</span>
                  <span class="produto-preco">R$ {{ produto.preco }}</span>
                </div>
                <div class="right-lado">
                  <img src="{{ produto.imagem_produto }}" alt="{{ produto.nome_produto }}">
                </div>
              </div>
            </button>
          </form>
          {% endfor %}
          {% endfor %}

        </div>
      </div>
    </section>

    <!-- Seção de Marmitas -->
    <section class="container-produtos">
      <h2>Marmitex</h2>
      <div class="grid-produto">
        <div class="produtos" id="marmitas-list">
          {% for marmita in lista_marmitas %}
          <form action="/marmita_unica" method="post">
            <button value="{{ marmita.id_marmita }}" name="btn-produto" type="submit">
              <div class="card-produtos">
                <div class="left-lado">
                  <span class="produto-nome">{{ marmita.nome_marmita }}</span>
                  <span class="produto-desc">{{ marmita.descricao }}</span>
                  <span class="produto-preco">R$ {{ marmita.preco }}</span>
                </div>
                <div class="right-lado">
                  <img src="{{ marmita.imagem_marmita }}" alt="{{ marmita.nome_marmita }}">
                </div>
              </div>
            </button>
          </form>
          {% endfor %}
        </div>
      </div>
    </section>

  </main>

  <footer>
    <a href="/exibir_carrinho" class="car-icon">
      <img src="https://cdn-icons-png.flaticon.com/512/4/4295.png" alt="">
    </a>
  </footer>

  <!-- Scripts do jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function atualizarProdutos() {
      $.ajax({
        url: '/produtos_json',  // URL da rota que retorna os produtos habilitados em JSON
        method: 'GET',
        success: function (data) {
          const produtosContainer = $('#produtos-list');
          produtosContainer.empty();  // Limpa a lista existente para evitar duplicação

          // Itera sobre cada produto retornado e o insere no HTML
          data.forEach(function (produto) {
            produtosContainer.append(`
              <form action="/produto_unico" method="post">
                <button value="${produto.id_produto}" name="btn-produto" type="submit">
                  <div class="card-produtos">
                    <div class="left-lado">
                      <span class="produto-nome">${produto.nome_produto}</span>
                      <span class="produto-desc">${produto.descricao}</span>
                      <span class="produto-preco">R$ ${produto.preco}</span>
                    </div>
                    <div class="right-lado">
                      <img src="${produto.imagem_produto}" alt="${produto.nome_produto}">
                    </div>
                  </div>
                </button>
              </form>
            `);
          });
        },
        error: function (error) {
          console.error("Erro ao carregar produtos:", error);
        }
      });
    }

    function atualizarMarmitas() {
      $.ajax({
        url: '/marmitas_json',  // URL da rota que retorna as marmitas habilitadas em JSON
        method: 'GET',
        success: function (data) {
          const marmitasContainer = $('#marmitas-list');
          marmitasContainer.empty();  // Limpa a lista existente para evitar duplicação

          // Itera sobre cada marmita retornada e a insere no HTML
          data.forEach(function (marmita) {
            marmitasContainer.append(`
              <form action="/marmita_unica" method="post">
                <button value="${marmita.id_marmita}" name="btn-produto" type="submit">
                  <div class="card-produtos">
                    <div class="left-lado">
                      <span class="produto-nome">${marmita.nome_marmita}</span>
                      <span class="produto-desc">${marmita.descricao}</span>
                      <span class="produto-preco">R$ ${marmita.preco}</span>
                    </div>
                    <div class="right-lado">
                      <img src="${marmita.imagem_marmita}" alt="${marmita.nome_marmita}">
                    </div>
                  </div>
                </button>
              </form>
            `);
          });
        },
        error: function (error) {
          console.error("Erro ao carregar marmitas:", error);
        }
      });
    }

    // // Atualiza a lista de produtos a cada 2 segundos (2000 ms)
    // setInterval(atualizarProdutos, 2000);
    // // Atualiza a lista de marmitas a cada 2 segundos (2000 ms)
    // setInterval(atualizarMarmitas, 2000);

    // Chama as funções na primeira carga da página
    $(document).ready(function () {
      atualizarProdutos();
      atualizarMarmitas();
    });
  </script>


  {% endblock %}