{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/login.css">

<body>
    <main>
        <div class="btn-voltar">
            <button onclick="window.history.back()"><img src="https://www.svgrepo.com/show/324205/back-arrow-navigation.svg" alt=""></button>
        </div>

        <div class="titulo">
            <h2>Olá! Logue agora para Começar</h2>
        </div>
        <section class="container-principal">
            
            <div class="formulario">
                <form action="" method="post" class="form">
                    <input name="email" id="email" placeholder="*E-mail" type="text">
                    
                    <div class="input-senha">
                        <input name="senha" id="senha" placeholder="*Senha" type="password">
                        <button type="button" class="toggle-button" onclick="togglePassword1(event)">
                            <img id="toggle-icon" src="../static/img/olho-fechado.png" alt="Mostrar Senha" width="20" height="20">
                        </button>
                    </div>
                    
                    <a href="/trocar_senha"><span>Esqueceu sua senha</span></a>
                    <button type="submit" class="button-cadastrar">Entrar</button>
                </form>
            </div>

            <span class="semConta">Ainda não tem conta?<a href="/cadastro"> Crie Aqui!</a></span>
        </section>
    </main>

    <!-- Mova o script para o final do body -->
    <script>
        function togglePassword1(event) {
            event.preventDefault();
            const passwordField = document.getElementById('senha'); // Altera para o ID correto
            const toggleIcon = document.getElementById('toggle-icon');
            
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.src = '../static/img/olho.png'; // Caminho para o ícone de "mostrar"
                toggleIcon.alt = 'Ocultar Senha';
            } else {
                passwordField.type = 'password';
                toggleIcon.src = '../static/img/olho-fechado.png'; // Caminho para o ícone de "esconder"
                toggleIcon.alt = 'Mostrar Senha';
            }
        }
    </script>
{% endblock %}
</body>
</html>
