{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/login.css">

<body>
    <main>
        <div class="btn-voltar">
            <button onclick="window.history.back()"><img
                    src="https://www.svgrepo.com/show/324205/back-arrow-navigation.svg" alt=""></button>
        </div>

        <div class="titulo">
            <h2>Olá! Logue agora para Começar</h2>
        </div>
        <section class="container-principal">

            <div class="formulario">

                <form action="" method="post">
                    <input name="email" id="email" placeholder="*E-mail" type="text">
                    <input name="senha" id="senha" placeholder="*Senha" type="password">
                    <a href="/trocar_senha"><span>Esqueceu sua senha</span></a>
                    <button type="submit">Entrar</button>
                </form>

            </div>

            <span class="semConta">Ainda não tem conta?<a href="/cadastro"> Crie Aqui!</a></span>

        </section>

        {% endblock %}


    </main>


</body>

</html>