{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/perfil.css">
<body>
    <main>


        <section class="container-principal">

            <h2>Perfil</h2>

            <div class="profile-container">
                <div class="profile-image"></div>
                <div class="overlay">
                    <input type="file" id="file-upload" accept="image/png, image/jpeg"><img
                        src="../static/img/btn-editar.png" alt="Imagem Sobreposta" class="overlay-image">
                </div>
            </div>



            <div class="formulario">

                <form action="">
                    <input placeholder="*Nome" type="text">

                    <input type="password" id="password" placeholder="*Senha">
                    <button type="button" class="toggle-button" onclick="togglePassword1()">
                        <img id="toggle-icon" src="../static/img/fecheido-removebg.png" alt="Mostrar Senha"
                            width="20" height="20">
                    </button>

                    <input placeholder="*Confirmar Senha" id="passwordConfirmar" type="text">
                    <button type="button" class="toggle-button2" onclick="togglePassword2()">
                        <img id="toggle-icon2" src="../static/img/fecheido-removebg.png" alt="Mostrar Senha"
                            width="20" height="20">
                    </button>
                    
                    <button class="btn-confirmar">Confirmar Mudanças</button>
                </form>
            </div>


        </section>

    </main>

    <script>
        function togglePassword1() {
            event.preventDefault();
            const passwordField = document.getElementById('password');
            const toggleIcon = document.getElementById('toggle-icon');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.src = '/Projeto TCC/static/img/abrido-removebg.png'; // Caminho para o ícone de ocultar
                toggleIcon.alt = 'Ocultar Senha';
            } else {
                passwordField.type = 'password';
                toggleIcon.src = '/Projeto TCC/static/img/fecheido-removebg.png'; // Caminho para o ícone de mostrar
                toggleIcon.alt = 'Mostrar Senha';
            }
        }


        function togglePassword2() {
            event.preventDefault();
            const passwordField = document.getElementById('passwordConfirmar');
            const toggleIcon = document.getElementById('toggle-icon2');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.src = '/Projeto TCC/static/img/abrido-removebg.png'; // Caminho para o ícone de ocultar
                toggleIcon.alt = 'Ocultar Senha';
            } else {
                passwordField.type = 'password';
                toggleIcon.src = '/Projeto TCC/static/img/fecheido-removebg.png'; // Caminho para o ícone de mostrar
                toggleIcon.alt = 'Mostrar Senha';
            }
        }
    </script>

</body>


</html>
{% endblock %}