{% extends "modelo.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/produto.css">
<link rel="stylesheet" href="../static/styles/media/media-produtos.css">

<body>
    <main>
        {% for registro in lista_prounico %}
        <section class="posicao-produto">
            <div class="produto">
                <div class="foto-produto">
                    <img class="ft-item" src="{{ registro.imagem_produto }}" alt="Imagem do produto">
                </div>
                <section class="descricao">
                    <span class="nome-produto">{{ registro.nome_produto }}</span>
                    <span class="descricao-produto">{{ registro.descricao }}</span>
                    <span class="preco-produto">R$ {{ registro.preco }}</span>


                    <div class="sair">
                        <a href="/" class="btn-voltar">Voltar</a>

                        <form id="carrinhoForm" action="/inserir_carrinho" method="post">
                            <input type="hidden" name="cod_produto" value="{{ registro.cod_produto }}">
                            <button type="submit" class="btn-adicionar">Adicionar ao Carrinho</button>
                        </form>
                    </div>
                </section>
            </div>
        </section>



        <div class="espacamento"></div>

        <script>
            document.getElementById('carrinhoForm').addEventListener('submit', async function (event) {
                event.preventDefault(); // Impede o envio padrão do formulário

                // Cria um objeto FormData com os dados do formulário
                const formData = new FormData(this);

                // Envia os dados para o servidor via fetch
                try {
                    const response = await fetch(this.action, {
                        method: 'POST',
                        body: formData
                    });

                    const result = await response.json();

                    if (result.success) {
                        // Redireciona para a página do carrinho se o pedido for bem-sucedido
                        window.location.href = result.redirect_url;
                    } else {
                        alert(result.error || 'Erro ao adicionar ao carrinho.');
                    }
                } catch (error) {
                    console.error('Erro ao enviar o formulário:', error);
                    alert('Ocorreu um erro ao tentar adicionar ao carrinho.');
                }
            });

            const input = document.getElementById('meuInput');
            const contador = document.getElementById('contador');

            input.addEventListener('input', () => {
                contador.textContent = input.value.length; // Atualiza o número de caracteres digitados
            });
        </script>
        {% endfor %}
    </main>
    {% endblock %}