{% extends "modelo-adm.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/recebePedido.css">
<link rel="stylesheet" href="../static/styles/media/media-recebePedido.css">

<body>
    <main>
        <section class="container-cards" id="order-container">
            <!-- Os pedidos serão carregados dinamicamente aqui -->
        </section>
    </main>

    <!-- Modal para selecionar motivo de cancelamento -->
    <div id="cancelModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Selecionar motivo de cancelamento</h2>
            <select id="cancelReason">
                <option value="">Selecione um motivo</option>
                <option value="Pedido em atraso">Pedido em atraso</option>
                <option value="Cliente desistiu">Cliente desistiu</option>
                <option value="Erro no pedido">Erro no pedido</option>
                <option value="Outro">Outro</option>
            </select>
            <button id="confirmCancelBtn">Confirmar Cancelamento</button>
        </div>
    </div>

    <script>
        // Função para exibir os pedidos via AJAX
        function carregarPedidos() {
            fetch('/obter_pedidos')
                .then(response => response.json())
                .then(data => {
                    const orderContainer = document.getElementById('order-container');
                    orderContainer.innerHTML = ''; // Limpa o conteúdo antes de carregar os pedidos

                    for (const [id_cliente, cliente] of Object.entries(data)) {
                        let cardPedidos = `<div class="card-pedidos">`;

                        for (const [id_pedido, pedido] of Object.entries(cliente.pedidos)) {
                            cardPedidos += `
                        <div class="order-card">
                            <h2>Cliente: <a href="/">${cliente.nome_cliente}</a></h2>
                            <div class="order-header">
                                <span class="order-number">#${id_pedido}</span>
                                <span class="order-time">${pedido.hora}</span>
                                <span class="order-date">${pedido.data_pedido}</span>
                            </div>
                            <div class="order-details">
                                <h3>Pedidos:</h3>
                                <ul>`;

                            // Exibe os produtos com quantidade
                            if (pedido.produtos && pedido.produtos.length > 0) {
                                pedido.produtos.forEach(produto => {
                                    if (produto.nome_produto) {
                                        cardPedidos += `<li>- Produto: ${produto.nome_produto} - Quantidade: ${produto.quantidade} - Preço: R$ ${produto.preco.toFixed(2)}</li>`;
                                    }
                                });
                            }

                            // Exibe as marmitas com quantidade e associa guarnições e acompanhamentos
                            if (pedido.marmitas && pedido.marmitas.length > 0) {
                                pedido.marmitas.forEach(marmita => {
                                    if (marmita.nome_marmita) {
                                        cardPedidos += `<li>- Marmita: ${marmita.nome_marmita} - Tamanho: ${marmita.tamanho} - Quantidade: ${marmita.quantidade} - Preço: R$ ${marmita.preco.toFixed(2)}</li>`;

                                        // Guarnições associadas à marmita
                                        if (pedido.guarnicoes && pedido.guarnicoes.length > 0) {
                                            cardPedidos += `<ul><li><strong>Guarnições:</strong></li>`;
                                            pedido.guarnicoes.forEach(guarnicao => {
                                                cardPedidos += `<li>${guarnicao}</li>`;
                                            });
                                            cardPedidos += `</ul>`;
                                        }

                                        // Acompanhamentos associados à marmita
                                        if (pedido.acompanhamentos && pedido.acompanhamentos.length > 0) {
                                            cardPedidos += `<ul><li><strong>Acompanhamentos:</strong></li>`;
                                            pedido.acompanhamentos.forEach(acompanhamento => {
                                                cardPedidos += `<li>${acompanhamento}</li>`;
                                            });
                                            cardPedidos += `</ul>`;
                                        }
                                    }
                                });
                            }

                            // Mensagem caso não haja produtos, marmitas, guarnições ou acompanhamentos
                            if (pedido.produtos.length === 0 && pedido.marmitas.length === 0 && pedido.guarnicoes.length === 0 && pedido.acompanhamentos.length === 0) {
                                cardPedidos += `<li>Nenhum produto, marmita, guarnição ou acompanhamento</li>`;
                            }

                            cardPedidos += `</ul>
                            </div>
                            <div class="order-status">
                                <span class="order-price">Total: R$ ${pedido.total_preco.toFixed(2)}</span>
                            </div>
                            <div class="btn-cancelar">
                                <button class="status-btn preparando" data-pedido="${id_pedido}" value="preparando">Preparando</button>
                                <button class="status-btn pronto" data-pedido="${id_pedido}" value="feito">Pronto</button>
                                <button class="status-btn entregue" data-pedido="${id_pedido}" value="entregue">Entregue</button>
                                <button class="cancel-btn cancelar" data-pedido="${id_pedido}">Cancelar</button>
                            </div>
                        </div>`;
                        }
                        cardPedidos += `</div>`;
                        orderContainer.innerHTML += cardPedidos; // Adiciona os pedidos na página
                    }
                })
                .catch(error => console.error('Erro ao carregar os pedidos:', error));
        }

        // Atualiza a lista de pedidos a cada 2 segundos (tempo ajustável)
        // setInterval(carregarPedidos, 2000);

        // Carrega os pedidos quando a página é carregada
        window.onload = carregarPedidos;

        // Função para lidar com cliques nos botões de status e cancelar
        document.addEventListener('click', function (e) {
            // Para os botões de status
            if (e.target.classList.contains('status-btn')) {
                const idPedido = e.target.getAttribute('data-pedido');
                const novoStatus = e.target.value;

                // Se o status for "entregue", chama a rota específica para marcar como entregue
                if (novoStatus === 'entregue') {
                    fetch(`/marcar_entregue/${idPedido}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'sucesso') {
                                alert('Pedido marcado como entregue!');
                                carregarPedidos();  // Atualiza a lista de pedidos na página
                            } else {
                                alert('Erro ao marcar como entregue: ' + data.mensagem);
                            }
                        })
                        .catch(error => console.error('Erro ao enviar a solicitação:', error));
                } else {
                    // Envia uma solicitação POST via AJAX para atualizar o status do pedido
                    fetch('/atualizar_status_pedido', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: `id_pedido=${idPedido}&status=${novoStatus}`
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'sucesso') {
                                alert('Status atualizado com sucesso!');
                                carregarPedidos();  // Atualiza a lista de pedidos na página
                            } else {
                                alert('Erro ao atualizar o status: ' + data.mensagem);
                            }
                        })
                        .catch(error => console.error('Erro ao enviar a solicitação:', error));
                }
            }

            // Para o botão de cancelar pedido
            if (e.target.classList.contains('cancel-btn')) {
                const idPedido = e.target.getAttribute('data-pedido');

                // Abre o modal de cancelamento
                document.getElementById('cancelModal').style.display = 'block';
                document.getElementById('confirmCancelBtn').setAttribute('data-pedido', idPedido);
            }
        });

        // Função para fechar o modal
        document.querySelector('.close').onclick = function () {
            document.getElementById('cancelModal').style.display = 'none';
        };

        // Confirmar cancelamento
        document.getElementById('confirmCancelBtn').onclick = function () {
            const idPedido = this.getAttribute('data-pedido');
            const motivoCancelamento = document.getElementById('cancelReason').value;

            if (!motivoCancelamento) {
                alert('Por favor, selecione um motivo para o cancelamento.');
                return;
            }

            // Envia uma solicitação POST via AJAX para cancelar o pedido com o motivo
            fetch('/cancelar_pedido', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `id_pedido=${idPedido}&motivo_cancelamento=${motivoCancelamento}` // Corrigido para usar a chave correta
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'sucesso') {
                        alert('Pedido cancelado com sucesso!');
                        carregarPedidos();  // Atualiza a lista de pedidos na página
                    } else {
                        alert('Erro ao cancelar o pedido: ' + data.mensagem);
                    }
                    document.getElementById('cancelModal').style.display = 'none'; // Fecha o modal
                })
                .catch(error => console.error('Erro ao enviar a solicitação:', error));
        };
    </script>
    {% endblock %}