{% extends "modelo-adm.html" %}
{% block conteudo %}
    <link rel="stylesheet" href="../static/styles/recebePedido.css">
    <link rel="stylesheet" href="../static/styles/media/media-recebePedido.css">
    <body>
    <main>
        <section class="container-cards">

        {% for id_cliente, cliente in lista_pedidos.items() %}
        <div class="card-pedidos">
            <!-- Loop pelos pedidos do cliente -->
            {% for id_pedido, pedido in cliente.pedidos.items() %}
            <div class="order-card">
                <h2>Cliente: {{ cliente.nome_cliente }}</h2>
                <div class="order-header">
                    
                    <span class="order-number">#{{ id_pedido }}</span>
                    <span class="order-time">{{ pedido.data_pedido.strftime("%H:%M") }}</span>
                    <span class="order-date">{{ pedido.data_pedido.strftime("%d/%m/%y") }}</span>
                </div>
                <div class="order-details">
                    <ul>
                        {% for produto in pedido.produtos %}
                        <li>{{ produto.nome_produto }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="order-quantity">
                        {% for produto in pedido.produtos %}
                        <li>{{ produto.quantidade }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="order-status">
                    <!-- Exibe o preço total do pedido -->
                    <span class="order-price">RS: {{ pedido.total_preco }}</span>
                </div>
                <div class="btn-cancelar">
                    <button id="button1" value="preparando">Preparando</button>
                    <button id="button2" value="feito">Pronto</button>
                    <button id="button3" value="entregue">Entregue</button>
                    <button>Cancelar</button>
                </div>
            </div>
            {% endfor %} <!-- Fechamento do loop pelos pedidos -->
        </div>
        {% endfor %} <!-- Fechamento do loop pelos clientes -->
    
        </section>
    </main>
    </body>
{% endblock %}
