{% extends "modelo-adm.html" %}

{% block conteudo %}
<link rel="stylesheet" href="../static/styles/perfilVisaoAdm.css">
<!-- Imagem de fundo e imagem de perfil -->
<div class="header">
    <img src="{{ imagem_perfil_url }}" alt="Foto de {{ cliente.nome_comp }}" class="img-perfil">
</div>

<!-- Informações do cliente -->
<div class="perfil-info">
    <span class="nome">{{ cliente.nome_comp }}</span><br>
    <span class="curso">{{ cliente.nome_curso }}</span><br>
    <a href="https://api.whatsapp.com/send/?phone={{ cliente.telefone }}&text&type=phone_number&app_absent=0" target="_blank">
        <span class="dados-pessoais">{{ cliente.telefone }}</span>
    </a>

</div>

<div class="relatorio-vendas">

    <section class="resumo-relatorio">
        <h3>Últimos Pedidos</h3>

    </section>
</div>
{% endblock %}

