{% extends "modelo-adm.html" %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/perfilVisaoAdm.css">
<!-- Imagem de fundo e imagem de perfil -->
<div class="header">
    <img src="{{ imagem_perfil_url }}" alt="Foto de {{ cliente.nome_comp }}" class="img-perfil">
</div>

<!-- Informações do cliente -->
<div class="perfil-info">
    <span class="nome">{{ cliente.nome_comp }}</span><br>
    <span class="curso">{{ cliente.nome_curso }}</span><br>
    <a href="https://wa.me/{{ cliente.telefone }}">
        <span class="dados-pessoais">{{ cliente.telefone }}</span>
    </a>
</div>

<div class="relatorio-vendas">
    <section class="resumo-relatorio">
        <h3>Últimos Pedidos</h3>

        {% if pedidos %}
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.data }}</td>
                    <td>{{ pedido.valor }}</td>
                    <td>
                        <ul>
                            {% for item in pedido.itens %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="spanpontilhado">
            <span>Valor Total: R$: {{ total_valor }}</span> <br>
            <span>Pedidos Entregues: {{ pedidos_entregues }}</span>
        </div>
        {% else %}
        <p>Este cliente ainda não fez pedidos.</p>
        {% endif %}
    </section>
</div>
{% endblock %}
