<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação</title>
    <link rel="stylesheet" href="../static/styles/verificacao.css">
</head>

<body>

    <div class="btn-voltar">
        <button onclick="window.history.back()"><img src="https://www.svgrepo.com/show/324205/back-arrow-navigation.svg"
                alt=""></button>
    </div>

    <section class="container">

        <span class="titulo">Codigo de Acesso</span>
        <span class="subtitulo">Insira o código para criar a conta</span>
        <span class="telefone">Enviamos o código para: <a href="/cadastro">+5516998999889</a></span>

        <div class="formulario">
            <form method="POST" action="/verificacao">
                <label for="codigo"></label>
                <div class="codigo-verificacao">
                    <input type="text" maxlength="1" placeholder="0" name="codigo1" class="digito" required>
                    <input type="text" maxlength="1" placeholder="0" name="codigo2" class="digito" required>
                    <input type="text" maxlength="1" placeholder="0" name="codigo3" class="digito" required>
                    <input type="text" maxlength="1" placeholder="0" name="codigo4" class="digito" required>
                </div>
                <button type="submit">Verificar</button>
            </form>
        </div>
        {% if erro %}
        <p style="color: red;">{{ erro }}</p>
        {% endif %}

    </section>

    <div class="success-checkmark-overlay {% if cadastro_sucesso %}visible{% else %}hidden{% endif %}"
        id="success-overlay">
        <div id="success-checkmark" class="success-checkmark">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
            <span id="success-message" class="success-message">Cadastrado com sucesso!</span>
        </div>
    </div>

    <script>
        const digitos = document.querySelectorAll(".digito");

        digitos.forEach((digito, index) => {
            digito.addEventListener("input", () => {
                if (digito.value.length === 1 && index < digitos.length - 1) {
                    digitos[index + 1].focus();
                }
            });

            digito.addEventListener("keydown", (e) => {
                if (e.key === "Backspace" && index > 0 && digito.value.length === 0) {
                    digitos[index - 1].focus();
                }
            });
        });


    </script>
    {% if cadastro_sucesso %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var loginSucesso = "{{ cadastro_sucesso|tojson|default('false') }}";

            if (loginSucesso) {
                const successOverlay = document.getElementById('success-overlay');
                const successMessage = document.getElementById('success-message');
                successOverlay.classList.add('visible'); // Mostra a sobreposição

                // Torna a mensagem visível após um pequeno atraso
                setTimeout(function () {
                    successMessage.classList.add('visible'); // Torna a mensagem visível
                }, 200); // Aguarda 100ms antes de mostrar a mensagem

                // Após alguns segundos, redireciona para a página inicial
                setTimeout(function () {
                    successOverlay.classList.remove('visible'); // Remove a classe antes do redirecionamento
                    window.location.href = "/"; // Redireciona
                }, 1750); // Aguarda 4 segundos antes do redirecionamento
            }
        });
    </script>
    {% endif %}
</body>

</html>