*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titulo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.container-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

form input{
    width: 22.5rem;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 50px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: 204px;
    margin-bottom: 40px;
}

.container-principal button{
    padding: 15px;
    background-color: #FFD707;
    width: 110px;
    border-radius: 6px;
    border: none;
    margin-bottom: 30px;
}

form input:focus{
    outline: none;
}
.formulario form{
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.select select{
    width: 22rem;
    padding: 1rem;
    border-radius: 1rem;
}

.login-btn{
    text-decoration: none;
    color: rgb(156, 0, 0);
}