* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



figure {

    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {

    overflow-y: scroll;
}

.perfil-icon {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.perfil-icon img {

    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.btn-lixo {
    border: none;
    background: none;
    height: 10px;
}

.cbc-cima {
    justify-items: center;
    position: fixed;
    /* Fixa a posição no topo da página */
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    width: 100%;
    /* Largura total da tela */
    /* Espaçamento nas laterais */
    display: grid;
    /* Usando grid para o layout */
    grid-template-columns: repeat(4, 1fr);
    /* Três colunas de largura igual */
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    /* Alinha os itens verticalmente ao centro */
    background-color: rgba(207, 34, 38, 1);
    /* Cor de fundo */
}


.espacamento {
    height: 70px;
}

.cbc-cima .perfil {

    border-radius: 100px;
}

.cbc-cima .perfil:active {
    filter: grayscale(70%);

}

.logo {
    height: 70px;
}

.excluir img {
    height: 15px;
    width: 15px;
    display: flex;
}

.cbc-baixo {
    background-color: rgb(156, 0, 0);
    display: none;
    justify-content: space-around;

}

h2 {
    color: #333;
    font-size: 2rem !important;
    /* Tamanho ajustado para mobile */
    text-align: center;
    margin-bottom: 30px ;
    margin-top: 20px !important;
    font-weight: 600 !important;
}

.container-produtos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 0 20px;
    /* Espaço lateral para mobile */
}

.card-produtos {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.grid-produto {
    width: 100%;
}

.produtos {
    display: flex;
    flex-direction: column;
    /* Exibição em coluna */
    width: 100%;
}

.produtos button {
    background-color: transparent;
    border: none;
    border-top: 1px solid rgb(210, 210, 210);
    border-bottom: 1px solid rgb(210, 210, 210);
    width: 100%;
    /* O botão ocupa toda a largura da tela */
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
    padding: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.produtos button:focus {
    outline: none;
}

.produtos button:hover {
    transform: scale(1.02);
}

.card-produtos {
    display: flex;
    align-items: center;
    /* Alinha imagem e texto verticalmente */
    width: 100%;
}

.left-lado {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.card-produtos img {
    height: 90px;
    /* Tamanho da imagem */
    width: 90px;
    /* Tamanho da imagem */
    border-radius: 12px;
    /* Bordas arredondadas */
    object-fit: cover;
}

.card-produtos .info {
    display: flex;
    flex-direction: column;
    /* Nome e preço em coluna */
}

.produto-nome {
    font-size: 1rem;
    /* Ajustado para mobile */
    font-weight: 500;
    color: #333;
}

.produto-desc {
    font-size: 0.6rem;
}

.produto-preco {
    font-size: 1rem;
    font-weight: 700;
    color: #727272;
}

.footer {
    background-color: rgba(207, 34, 38, 255);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.status {
    color: rgb(255, 255, 255);
}

.status-cor {
    color: rgb(21, 255, 0);
}

.footer button {

    background-color: rgb(17, 177, 2);
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.footer button:active {
    filter: grayscale(20%);
}

.perfil-icon a {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
}

.perfil {

    width: 100%;
    height: 100%;
}

/* ======================================================================================================================= */

.menu-container {
    grid-column-start: 4;
    grid-row-start: 1;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}

.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 5px;
    background-color: rgba(255, 215, 7, 1);
    margin: 6px 0;
    transition: 0.6s;
}

.logo-lu {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(209, 31, 31);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #bbbbbb;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

hr {

    background-color: rgb(255, 255, 255);
}

.car-icon {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    background-color: white;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-icon:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.2);
}

.car-icon:active {
    background-color: rgb(250, 250, 250);
}

.car-icon img {
    height: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: 370px;
    margin-bottom: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

footer:hover {
    transform: translate(-50px, 0px);
    /* Move a div 20px para a direita e para baixo */
}

footer section {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-bottom: 10px;
}

/* Modo Escuro */

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    ;
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.carousel-inner {
    background-color: #ffbc0d;
}

.carousel-item img {
    height: 600px;
    margin-bottom: 20px;
}

.dark-mode {
    height: 290px;
    width: 380px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.horario {  
    width: 95%;
    height: 1.5rem;
    background-color: rgb(255, 154, 154);
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
}

.horario h2 {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 !important;
    height: 100%;
}

.central {
    background-color: #ffbf00;
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 1.75rem;
}