*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

figure{

    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

html{

    overflow-y: scroll;
}

.cbc-cima{
    width: 100%;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(207,34,38,255);
}

.cbc-cima .perfil{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.cbc-cima .perfil:active{
    filter: grayscale(70%);

}

.logo{
    height: 70px;
}


.cbc-baixo{
    background-color: rgb(156, 0, 0);
    display: none;
    justify-content: space-around;
    
}

h2 {
    color: #333;
    font-size: 1.8rem; /* Tamanho ajustado para mobile */
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 60rem;
}

.container-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grid-produto{
    padding: 1rem;
    width: 100%;
}
.produtos {
    display: flex;
    flex-direction: column; /* Exibição em coluna */
    gap: 16px; /* Espaço entre os produtos */
    width: 100%;
}

.produtos button {
    background-color: transparent;
    border: none;
    width: 100%; /* O botão ocupa toda a largura da tela */
    display: flex;
    align-items: stretch; /* Centraliza verticalmente */
    padding: 10px;
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: #333 1px solid;
}

.produtos button:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-produtos {
    display: flex;
    align-items: center; /* Alinha imagem e texto verticalmente */
    justify-content: space-between;
    width: 100%;
}

.card-produtos img {
    height: 100px; /* Tamanho da imagem */
    width: 100px; /* Tamanho da imagem */
    border-radius: 12px; /* Bordas arredondadas */
    margin-right: 15px; /* Espaço entre imagem e texto */
    object-fit: cover;
}

.card-produtos .info {
    display: flex;
    flex-direction: column; /* Nome e preço em coluna */
    
}

.right-lado{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
}
.produto-nome {
    font-size: 1rem; /* Ajustado para mobile */
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}

.produto-preco {
    font-size: 1.1rem;
    font-weight: 700;
    color: #ff5757;
}

.footer{
    background-color: rgba(207,34,38,255);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.status{
    color: rgb(255, 255, 255);
}

.status-cor{
    color: rgb(21, 255, 0);
}

.footer button{

    background-color: rgb(17, 177, 2);
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.footer button:active{
    filter: grayscale(20%);
}

/* ======================================================================================================================= */

.menu-container {
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}

.bar1, .bar2, .bar3 {
    width: 40px;                                         
    height: 5px;
    background-color: rgba(255, 215, 7, 1);
    margin: 6px 0;
    transition: 0.6s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(209, 31, 31);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #bbbbbb;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  hr{

    background-color: rgb(255, 255, 255);
  }