:root {
    --cor-primaria: rgb(161, 23, 23);
    --cor-secundaria: rgb(238, 238, 238);
    --cor-fundo: rgb(245, 245, 245);
    --cor-borda: rgb(238, 238, 238);
    --cor-texto: #000;
    --cor-botao-hover: #fff;
    --cor-botao-active: #fff;
    --cor-placeholder: #7e7d7d;
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .titulo{
    margin-top: 2.5rem;
    display: flex;
    margin-left: 26px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  h2{
    font-weight: bolder;
    text-align: left;
    color: var(--cor-texto);
  }
  
  .container-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  form{
    display: flex;
    flex-direction: column;
  }
  
  form input{
    width: 23.7rem;
    height: 30px;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid var(--cor-borda);
    background-color: var(--cor-fundo);
    margin-top: 15px;
  }
  
  input::placeholder {
    color: var(--cor-placeholder);
  }
  
  .checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: 204px;
    margin-bottom: 40px;
  }
  
  .container-principal button{
    padding: 15px;
    background-color: var(--cor-primaria);
    width: 23.7rem;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    color: var(--cor-botao-hover);
  }
  
  form input:focus{
    outline: none;
  }
  
  .formulario form{
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .select{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .select select{
    width: 23.7rem;
    padding: 19px;
    border-radius: 5px;
    border: 2px solid var(--cor-borda);
    background-color: var(--cor-fundo);
  }
  
  .login-btn{
    text-decoration: none;
    color: var(--cor-primaria);
  }
  
  .login-btn:hover{
    text-decoration: none;
    color: var(--cor-primaria);
  }
  
  .cbc-cima{
    display: none;
  }
  
  .gambiarra{
    display: none;
  }
  
  .btn-voltar img{
    height: 20px;
  }
  
  .btn-voltar button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--cor-borda);
    width: 40px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 26px;
  }
  
  option{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-size: 8px;
  }
  
  form a{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 240px;
    color: var(--cor-texto);
  }
  
  form a:hover{
    color: var(--cor-texto);
    text-decoration: none;
  }
  
  .semConta{
    margin-top: 15px;
  }