/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    max-width: 100vw; 
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 89vh;
}

.posicao-produto {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 100px;
}

.produto {
    display: flex;
    flex-direction: column; /* Coloca a imagem acima da descrição */
    align-items: center; /* Centraliza horizontalmente */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: auto;
    max-width: 600px; /* Largura máxima do container */
    
}

.foto-produto {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espaço abaixo da imagem */
    display: flex;
    flex-direction: column;
    
}

.ft-item {
    max-width: 100%; /* A imagem ocupa 100% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 12px; /* Bordas arredondadas para a imagem */
}

.descricao {
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center; /* Centraliza o texto da descrição */
    align-items: center;
}

.nome-produto {
    font-size: 2rem; /* Tamanho grande para o nome do produto */
    font-weight: bold;
    color: #333;
    
}

.descricao-produto {
    font-size: 1rem;
    color: #666;
    
}

.preco-produto {
    font-size: 1.5rem;
    font-weight: bold;
    color: #28a745; /* Verde para o preço */
    margin-bottom: 40px;
    
}

.sair {
    display: flex;
    justify-content: center; /* Alinha os botões horizontalmente */
    align-items: center; /* Centraliza os elementos dentro da div sair */
    gap: 20px; /* Espaçamento entre os botões */
}

a {
    text-decoration: none !important;
}

.btn-voltar {
    display: flex;
    align-content: center;
    justify-content: center;
    color: red; /* Cor do texto */
    background-color: transparent; /* Fundo transparente */
    border: 2px solid red; /* Borda vermelha */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer;
    flex-wrap: wrap;
    height: 60px;
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    font-weight: bolder;
    font-size: 18px;
}

.btn-voltar:hover {
    color: red;
}

.btn-adicionar {
    display: flex;
    background-color: red; /* Fundo vermelho */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave */
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
}

.btn-adicionar:hover {
    background-color: #c82333; /* Cor mais escura ao passar o mouse */
}


/* Seção de avaliação por estrelas */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffbb00;
  transition: color 0.3s;
}

/* Botão de adicionar ao carrinho */
form button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff0000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:active {
    background-color: #bb0606;
    border: none;
}




.espacamento{
    width: 100%;
    height: 50px;
    background-color: white;
}

.cima{
    display: flex;
    justify-content: space-between;
}

.observacao img{
    height: 25px;
}

.observacao input{
    width: 90vw;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
}