/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main form{
    display: flex;
    justify-content: end;
}

img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Seção de descrição do produto */
.descricao {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nome-produto {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.descricao-produto {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.preco-produto {
    display: block;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;  /* Espaçamento entre preço e estrelas */
    font-weight: bold;
}

/* Seção de avaliação por estrelas */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffbb00;
  transition: color 0.3s;
}

/* Botão de adicionar ao carrinho */
form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff5a5a;
}

/* Layout responsivo */
@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .descricao, .form-rating {
        margin-top: 0;
    }

    
}
