/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    max-width: 1200px; 
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 89.5vh;
}

main form{
    
}

.descricao{
    padding: 20px;
}

.ft-item {
    width: 100%;
    margin-bottom: 20px;
    max-height: 350px;
}

/* Seção de descrição do produto */
.descricao {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.nome-produto {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.descricao-produto {
    display: block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.preco-produto {
    display: block;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;  /* Espaçamento entre preço e estrelas */
    font-weight: bold;
}

/* Seção de avaliação por estrelas */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffbb00;
  transition: color 0.3s;
}

/* Botão de adicionar ao carrinho */
form button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ff0000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:active {
    background-color: #bb0606;
    border: none;
}

/* Layout responsivo */
@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .descricao, .form-rating {
        margin-top: 0;
    }

    
}

.sair{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   bottom: 0;
   width: 90vw;
   background-color: white;
}

.sair a{
    border: 1px solid black;
    font-weight: 200;
    text-decoration: none;
    color: #000000;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gambiarra{
    width: 100%;
    height: 30px;
    background-color: white;
}

.cima{
    display: flex;
    justify-content: space-between;
}

.observacao img{
    height: 25px;
}

.observacao input{
    width: 90vw;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
}