* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.order-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.order-filter label {
    margin-right: 10px;
    font-size: 1.1em;
}

.order-filter select {
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.order-filter select:hover {
    border-color: #888;
}

.order-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 450px;
    min-width: 300px;
    margin: 35px 0px 5px 0px;
    transition: transform 0.3s ease;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.order-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.order-number {
    color: #4CAF50;
    font-weight: bold;
}

.order-date {
    color: #888;
    font-style: italic;
}

.order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-details span {
    font-size: 1.1em;
    color: #666;
}

.order-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.status-value {
    font-weight: bold;
}

.status-value.finalizado {
    color: #4CAF50;
}

.status-value.pendente {
    color: orange;
}

.status-value.cancelado {
    color: red;
}

.order-price {
    color: #333;
    font-weight: bold;
    font-size: 1.1em;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.order-details li {
    margin: 0;
    padding: 0;
}

.btn-cancelar {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-cancelar button {
    margin-top: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancelar button:hover {
    background-color: rgb(235, 0, 0);
}

.btn-cancelar button:active {
    background-color: rgb(225, 0, 0);
}

#button1 {
    background-color: rgb(255, 196, 0);
}

#button2 {
    background-color: rgb(78, 230, 32);
}

#button3 {
    background-color: rgb(0, 73, 230);
}

/* Estilo da modal */
.modal {
    display: none; /* Inicialmente escondida */
    position: fixed; /* Fixa na tela */
    z-index: 1000; /* Acima de outros elementos */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.7); /* Fundo mais escuro e semi-transparente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo do conteúdo da modal */
.modal-content {
    background-color: #fefefe; /* Fundo mais claro */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda mais suave */
    border-radius: 15px; /* Bordas arredondadas */
    width: 300px; /* Largura fixa da modal */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
}

/* Estilo do botão de fechar */
.close {
    color: #888; /* Cor da cruz */
    float: right; /* Alinha à direita */
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Cursor de ponteiro */
}

.close:hover,
.close:focus {
    color: #333; /* Cor ao passar o mouse */
}

/* Estilo do título */
h2 {
    margin: 0 0 15px; /* Margem abaixo do título */
    font-family: 'Arial', sans-serif; /* Fonte do título */
    color: #333; /* Cor do título */
}

/* Estilo do select */
select {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Margem abaixo do select */
    border: 1px solid #ccc; /* Borda suave */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Fundo do select */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

/* Estilo do botão de confirmação */
#confirmCancelBtn {
    background-color: rgb(161, 23, 23); /* Cor verde */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave */
    width: 100%; /* Largura total */
}

#confirmCancelBtn:hover {
    background-color: rgb(146, 22, 22); /* Cor ao passar o mouse */
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(238, 238, 238);
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
}