* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.order-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.order-filter label {
    margin-right: 10px;
    font-size: 1.1em;
}

.order-filter select {
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.order-filter select:hover {
    border-color: #888;
}

.card-pedidos {

    margin: 20px 0; /* Adiciona margem superior e inferior */
    padding: 16px;
    
}


.order-card {
    border: 1px solid #e0e0e0; /* Borda para o card do pedido */
    border-radius: 8px; /* Bordas arredondadas para o card do pedido */
    padding: 12px; /* Espaçamento interno do card */
    margin-bottom: 15px; /* Margem inferior para separar os pedidos */
    background-color: #f1f1f1; /* Fundo claro para o card do pedido */
}

.order-card:hover {
    transition: transform 0.3s;
    transform: translateY(-5px);
}

.order-card h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.order-card a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.order-header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.order-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1; /* Fundo claro para os detalhes do pedido */
    border-radius: 8px;
}

.order-details h3 {
    margin: 0 0 8px;
    font-size: 18px;
    color: #444;
}

.order-details ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: none;
    color: #666;
    padding: 0;
}

.order-status {
    margin: 12px 0 0 12px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.btn-cancelar {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.status-btn, .cancel-btn {
    padding: 12px 23px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.status-btn {
    background-color: #3498db;
    color: #fff;
}

.status-btn:hover {
    background-color: #2980b9;
}

.cancel-btn {
    background-color: #e74c3c;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #c0392b;
}

.status-btn:active, .cancel-btn:active {
    transform: scale(0.95);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .order-filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .order-filter label {
        margin-bottom: 10px; /* Espaçamento inferior nos rótulos */
    }

    .order-filter select {
        width: 100%; /* Largura total em telas pequenas */
        margin-bottom: 10px; /* Espaço inferior para o seletor */
    }

    .card-pedidos {
        padding: 12px; /* Menos padding nos cards */
    }

    .order-card h2 {
        font-size: 20px; /* Reduzir tamanho do título */
    }

    .order-header {
        flex-direction: column; /* Colocar os elementos em coluna */
        align-items: flex-start; /* Alinhar à esquerda */
        margin-top: 8px; /* Menos margem superior */
    }

    .order-details h3 {
        font-size: 16px; /* Tamanho menor para detalhes */
    }

    .order-status {
        font-size: 14px; /* Tamanho menor para status */
    }

    .status-btn, .cancel-btn {
        padding: 12px 24px;
        font-size: 12px; /* Tamanho menor para os botões */
    }
}

@media (max-width: 480px) {
    .order-filter label {
        font-size: 1em; /* Menor tamanho em telas muito pequenas */
    }

    .order-filter select {
        font-size: 1em; /* Menor tamanho para o seletor */
    }

    .order-card h2 {
        font-size: 18px; /* Tamanho menor do título */
    }

    .order-header {
        font-size: 12px; /* Reduzir ainda mais o tamanho */
    }

    .order-details h3 {
        font-size: 14px; /* Tamanho menor para detalhes */
    }

    .order-status {
        font-size: 12px; /* Tamanho menor para status */
    }
}
