:root {
    --cor-primaria: #4CAF50;
    --cor-secundaria: #333;
    --cor-fundo: #f9f9f9;
    --cor-texto: #333;
    --cor-borda: #ccc;
    --cor-botao-hover: #0056b3;
    --cor-botao-active: #004a92;
    --cor-verde: #4CAF50;
    --cor-laranja: orange;
    --cor-vermelho: red;
    --cor-amarelo: #ffbb00;
    --cor-azul: #007bff;
    --cor-branco: #fff;
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
  }
  
  .order-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  
  .order-filter label {
    margin-right: 10px;
    font-size: 1.1em;
  }
  
  .order-filter select {
    padding: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid var(--cor-borda);
  }
  
  .order-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 450px;
    min-width: 300px;
    margin: 35px 0px 5px 0px;
    transition: transform 0.3s;
  }
  
  .order-card:hover {
    transform: translateY(-5px);
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .order-number {
    color: var(--cor-verde);
    font-weight: bold;
  }
  
  .order-date {
    color: #888;
    font-style: italic;
  }
  
  .order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .order-details span {
    font-size: 1.1em;
    color: #666;
  }
  
  .order-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .status-value {
    font-weight: bold;
  }
  
  .status-value.finalizado {
    color: var(--cor-verde);
  }
  
  .status-value.pendente {
    color: var(--cor-laranja);
  }
  
  .status-value.cancelado {
    color: var(--cor-vermelho);
  }
  
  .order-price {
    color: var(--cor-texto);
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order-details ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
  }
  
  .order-details li {
    margin: 0; /* Remove a margem dos itens */
    padding: 0; /* Remove o preenchimento dos itens */
  }
  
  .btn-cancelar{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .btn-cancelar button{
    margin-top: 20px;
    background-color: var(--cor-vermelho);
    color: var(--cor-branco);
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .btn-cancelar button:hover{
    background-color: rgb(235, 0, 0);
  }
  
  .btn-cancelar button:active{
    background-color: rgb(225, 0, 0);
  }
  
  #button1{
    background-color: var(--cor-amarelo);
  }
  
  #button2{
    background-color: var(--cor-verde);
  }
  
  #button3{
    background-color: var(--cor-azul);
  }