@media (max-width: 600px) {
    footer {
        position: fixed;
        bottom: 0;
        margin-left: 340px; /* Ajuste conforme necessário */
        margin-bottom: 10px;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    footer:hover {
        transform: translate(-50px, 0px); /* Move a div 50px para a esquerda ao passar o mouse */
    }

    footer section {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

/* Tablets (de 601px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .cbc-cima {
        grid-template-columns: repeat(3, 1fr);
    }

    .perfil-icon {
        height: 60px;
        width: 60px;
    }

    .logo {
        height: 60px;
    }

    .excluir img {
        height: 12px;
        width: 12px;
    }

    .container-produtos {
        padding: 0 20px;
    }

    .card-produtos {
        flex-direction: row;
    }

    .card-produtos img {
        height: 80px;
        width: 80px;
    }

    .produto-nome {
        font-size: 1.2rem;
    }

    .produto-desc {
        font-size: 0.8rem;
    }

    .produto-preco {
        font-size: 1.2rem;
    }

    footer {
        position: fixed;
        bottom: 20px; /* Distância do fundo da tela */
        right: 20px; /* Distância da direita da tela */
        z-index: 500; /* Para garantir que fique acima de outros elementos */
        transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
    }

    footer:hover {
        transform: scale(1.2); /* Aumenta o ícone para 120% do tamanho original ao passar o mouse */
    }

    
}

/* Desktops (acima de 1024px) */
@media (min-width: 1025px) {
    .cbc-cima {
        grid-template-columns: repeat(4, 1fr);
    }

    .perfil-icon {
        height: 70px;
        width: 70px;
    }

    .logo {
        height: 70px;
    }

    .excluir img {
        height: 15px;
        width: 15px;
    }

    .container-produtos {
        padding: 0 30px;
    }

    .card-produtos {
        flex-direction: row;
    }

    .card-produtos img {
        height: 100px;
        width: 100px;
    }

    .produto-nome {
        font-size: 1.5rem;
    }

    .produto-desc {
        font-size: 1rem;
    }

    .produto-preco {
        font-size: 1.5rem;
    }

    footer {
        position: fixed;
        bottom: 20px; /* Distância do fundo da tela */
        right: 20px; /* Distância da direita da tela */
        z-index: 500; /* Para garantir que fique acima de outros elementos */
        transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
    }

    footer:hover {
        transform: scale(1.2); /* Aumenta o ícone para 120% do tamanho original ao passar o mouse */
    }

}