*{
  font-family: Inter,sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2{
  margin-top: 1rem;
  display: flex;
  
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: left;
}



 input{
  height: 25px;
  padding: 26px;
  border-radius: 5px;
  border: 2px solid rgb(238, 238, 238);
  background-color: rgb(245, 245, 245);
  margin-top: 15px;
  width: 351px;

}

input::placeholder {
  color: #7e7d7d; /* Mude para a cor desejada */
}

.input-descricao::placeholder {
  color: #7e7d7d; /* Mude para a cor desejada */
}
.input-descricao{
  height: 50px;
  padding-right: 30px;
  border-radius: 5px;
  border: 2px solid rgb(238, 238, 238);
  background-color: rgb(245, 245, 245);
  margin-top: 15px;
}

.btn-Cadastrar {
  margin-top: 15px;
  padding: 15px;
  background-color: rgb(161, 23, 23);
  border-radius: 6px;
  border: none;
  color: white;
  margin-bottom: 5px;
}


.btn-Cadastrar:active {
    background-color: #004a92;
}


/* Responsividade */
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}

::placeholder {
  color: black;
  opacity: 1; 
}

form{
  
  display: flex;
  flex-direction: column;
  color: black;
}


form input :active{
color: rgb(0, 217, 255);
}




select::-ms-expand {
display: none;
}

select:after {
content: '<>';
font: 17px "Consolas", monospace;
color: #333;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
right: 11px;
top: 18px;
padding: 0 0 2px;
border-bottom: 1px solid #999;
position: absolute;
pointer-events: none;
}

select{
  height: 60px;
  width: 351px;
  border: 2px solid rgb(238, 238, 238);
  background-color: rgb(245, 245, 245);
  margin-top: 15px;
  border-radius: 5px;
  padding-left: 23px;
  color: #6e6e6e;
}

.btn-voltar img{
  height: 20px;
  
}

.btn-voltar button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(236, 236, 236);
  width: 40px;
  border-radius: 6px;
  margin-top: 15px;
  
}


#guarnicoes {
  margin-top: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

#guarnicoes h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

#guarnicoes div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#guarnicoes input[type="checkbox"] {
  margin-right: 10px;
}

#guarnicoes label {
  font-size: 16px;
  color: #333;
}




.acompanhamento {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid rgb(233, 231, 231);
}

.acompanhamento img {
  width: 40px;
  /* Tamanho da imagem */
  height: 40px;
  margin-left: 11px;
  margin-right: 10px;
  /* Espaço entre imagem e texto */
  border-radius: 5px;
  border: 0.5px solid red;
}

.acompanhamento label {
  position: relative;
  /* Para alinhar a bolinha à direita */
  cursor: pointer;
  /* Espaço entre o texto e a bolinha */
  z-index: 1;
  margin-top: 10px;
}

.acompanhamento label span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ff0000;
  /* Cor da bolinha */
  border-radius: 50%;
  background-color: white;
  /* Fundo da bolinha */
  transition: background-color 0.3s, border-color 0.3s;
}

.acompanhamento span {
  flex-grow: 1;
  font-size: 18px;
  /* Tamanho do texto do acompanhamento */
  margin-right: 5px;
  /* Espaço entre o texto e a bolinha */
}

#acompanhamentos input[type="checkbox"],
#guarnicoes_acompanhamentos input[type="checkbox"] {
    margin-top: 5px;
    position: absolute;
    left: 325px;
    appearance: none;
    -webkit-appearance: none;
    width: 20px; /* Defina o tamanho da bolinha */
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ff0000;;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: white;
}

/* Estilo para o checkbox marcado */
#acompanhamentos input[type="checkbox"]:checked,
#guarnicoes_acompanhamentos input[type="checkbox"]:checked {
  background-color: #ff0000;
  /* Cor quando selecionado */
  border-color: #ff0000;
}


/* Define um container para cada campo de input e botão */
.input-container {
  position: relative;
  width: fit-content; /* Ajusta a largura do container ao conteúdo */
  margin-top: 10px; /* Espaço entre os containers */
}

/* Estilo do input com espaço para o botão */
.input-container input[type="text"] {
  padding-right: 30px; /* Espaço para o botão dentro do input */
}

/* Estilo do botão de confirmação */
.input-container button[type="button"] {
  position: absolute;
  right: 0px;
  top: 60%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: rgb(214, 214, 214); /* Cor do ícone de confirmação */
  font-size: 30px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}

.input-container button[type="button"]:hover {
  color: rgb(177, 177, 177);
}
